<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Look these animals!</title>
    </head>
    <body>
        <h1>Here are the awesome animals!</h1>
        <% for (i in animals) { %>
            <p><%= animals[i].type %>
            -
                <%= animals[i].name %>
                </p>

                <a href="/mongooses/<%= animals[i]._id%>">See info!</a>

              <form class="" action="/mongooses/destroy/<%= animals[i]._id%>" method="post">
                <input type="submit"  value="Delete Animal">

              </form>
            <hr/>

        <% } %>
        <a href="/mongooses/new">Add new Animal!</a>
    </body>
</html>
