.container{
  font-family: sans-serif;
  border: 2px solid black;
  width:200px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  padding: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  left:370px;
}

button{
  width:90%;

}
