<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose form</title>
    <style media="screen">
      *{
        font-family: sans-serif;
        text-align: center;

      }
      .container{
        width:30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding:20px;
        border: 2px solid black;
      }
    </style>
  </head>
  <body>
    <div class="container">


      <form class="" action="/users" method="post">
          <h4>Name and Age</h4>
        <input type="text" name="name" placeholder="name">
        <input type="text" name="age" placeholder="age">
        <input type="submit" name="" value="submit">
      </form>



    </div>

  </body>
</html>
