<div class="container">

<p>MainComponent</p>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices consectetur lacinia. Donec eu turpis placerat, efficitur eros vitae, pharetra leo. Sed sollicitudin eros nec lacus blandit, ac luctus arcu elementum. Curabitur mollis arcu a augue imperdiet semper. Nunc sagittis odio quis nisl maximus, in mattis dolor hendrerit. Phasellus tellus lacus, mattis elementum dui et, molestie eleifend ex. Donec nec felis ut est pharetra consequat. Maecenas at rutrum lectus. Vivamus ut mauris eget lacus malesuada egestas. Aenean quis ultricies augue.

Aenean porttitor odio sit amet dapibus vehicula. Curabitur placerat vulputate pulvinar. Sed condimentum sem leo, vitae egestas augue consectetur eget. Sed ut pharetra ante. Pellentesque in mauris bibendum, efficitur mi sit amet, lobortis sem. Nunc volutpat justo a nisl varius feugiat. Duis ultricies, neque sed congue feugiat, massa elit commodo quam, non efficitur tortor neque eu eros. Aliquam eu iaculis leo, ac imperdiet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend mi eget mi mattis, sed pharetra erat tempor. Nulla nisi ipsum, blandit sit amet dolor at, pretium ullamcorper odio. Etiam sit amet dui aliquam, ultricies magna id, condimentum turpis. In eu facilisis lectus. Sed mollis volutpat mi faucibus porttitor. Donec quis finibus turpis. Nulla suscipit magna vel nulla lobortis, a laoreet massa tincidunt. </p>

</div>
