<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Remove</title>
  </head>
  <style media="screen">
  *{
    font-family: arial, sans-serif;
    text-align: center;
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
    <body>
  <h1>Are you sure you want to delete the following course?</h1>
  <p>Name :
  {%for i in course %}
    {{i.course_name}}</p>
  <p>Description :
    {{i.description}} </p>
    <br><a href="/">No</a>
    <a href="/destroy/{{i.id}}"> Yes! I want to delete this!</a>
  {%endfor%}



  </body>
</html>
