<style media="screen">
*{
  font-family: sans-serif;
}
  fieldset{
    width:500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
   .p{
    font-style: italic;
  }
</style>
<fieldset *ngFor = "let quote of myQuotes, let i = index">
  <legend>Quotes list</legend>
  <h3>{{quote.text}}</h3>
  <p class="p">-{{quote.author}}</p>

  <form>
    <input (click)="voteUp(quote, i)" type="submit" name="up" value="Vote Up">
    <input (click) = "voteDown(quote,i)" type="submit" name="down" value="Vote Down">
    <input (click) = "myQuotes.splice(i,1)" type="submit" name="delete" value="Delete">
  </form>
  <p >+{{quote.vote}}</p>
</fieldset>
