<style media="screen">
  *{
    font-family: sans-serif;
    text-align: center;
  }
  .error{
    font-size: 12px;
    color: red;
    display:inline;
  }
</style>

<h1>Add a Quote</h1>
<form (submit)="onSubmit()">
  <p><input type="textarea" placeholder="quote"name="quote"
  required
  minlength = "3"
  [(ngModel)] = "quote.text"
  #text = 'ngModel'></p>
  <div class="error" *ngIf = "!text.valid"> Please enter quote
  </div>

  <p><input type="text" name="author" placeholder="author"
  required
  minlength="3"
  [(ngModel)] = "quote.author"
  #author = "ngModel"></p>
  <div class="error" *ngIf = "!author.valid"> Please enter author
  </div>

  <p><input type="submit" name="add-quote" value="Add Quote"></p>
</form>
{{quote | json}}
{{quotes | json}}
