<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Return Form</title>
  <link rel="stylesheet" type="text/css" href="style.css">

  </style>
</head>

<body>
  <div class="container">
    <form action="/submission" , method="post">
      Your Name:
      <input type="text" name="name">
      <br> Dojo Location:
      <select name="dojos">
      <option value="Seattle">Seattle</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Chicago">Chicago</option>
      <option value="Washington D.C.">Washington D.C.</option>
      </select>
      <br> Favorite Language:
      <select name="language">
      <option value="python">Python</option>
      <option value="ruby">Ruby</option>
      <option value="C++">C++</option>
      <option value="JQuery">JQuery</option>
      </select>
      <br> Comments (Optional):
      <input type="textarea" name="textarea">

      <br>
      <input type="submit" value="Submit">
    </form>
  </div>

</body>

</html>
