<!--The whole content below can be removed with the new code.-->
<style media="screen">
.btn:active, .btn:hover, .btn:focus {
  background: yellow;
}
</style>

<div style="text-align:center">
  <h1>US Time Zone Display</h1>

  <button class ="btn" (click)= 'showPST()'> PST </button>
  <button class ="btn" (click)= 'showMST()'> MST </button>
  <button class ="btn" (click)= 'showCST()'> CST </button>
  <button class ="btn" (click)= 'showEST()'> EST </button>
  <button class ="btn" (click) = 'clear()'> Clear </button>


<p>{{timearr[0]}}</p> <p>{{timearr[1] | date : 'medium': 'UTC'}}</p>

</div>
