<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // triggers the connection event in our server!
      var socket = io.connect();
      // submit data to the server using emit
      $('#survey_form').submit(function(e) {
        e.preventDefault();
        socket.emit("posting_form", {response:0
        });

      });



      socket.on('count_number', function(data) {
        $('#number').html("The button has been pushed " + data.response + "times");
      });

    });
  </script>
  <style media="screen">
    * {
      font-family: sans-serif;
      text-align: center;
      margin: auto;
      padding: 3px;
    }
  </style>
</head>

<body>
  <div id="number"></div>
  <form action="" id="survey_form">
    <h3>Push the button to update the count</h3>

    <input type="submit" value="Epic button">
  </form>

<a href="/">Reset</a>
</body>

</html>
