<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Animals</title>
    </head>
    <body>
        <h1>Add New Animal!</h1>
        <form action="/mongooses" method="post">
            <p>Animal Type:
                <input type="text" name="type"></p>
            <p>Animal Name:
                <input type="text" name="name"></p>
            <p>Animal Weight:
                  <input type="text" name="weight"></p>
            <p><input type="submit" value="Add my animal!"></p>
        </form>

    </body>
</html>
