<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Information</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'teams_app/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>

  <body>
    <div class="teams-page">
      <div class="teams-background">
        <h1 class='message'>Hi, {{request.session.user_email}}!</h1>

        <h1 class='info'> User Information</h1>
        {%for i in name%}
        <h3>{{i.first_name}} {{i.last_name}} is in</h3>
        {%endfor%}

          {%for i in user_info%}
          <p>{{i.team.name}}</p>

          {%endfor%}


        <form class="" action="/success" method="post">{%csrf_token%}
          <input class="button" type="submit" name="" value="Go Back!">

        </form>
        <hr>

      </div>
    </div>

  </body>

  </html>
