<form class="" action="/" method="post">
  Your Name: <input type="text" name="name" value="">
  Dojo Location:
  <select class="" name="location">
    <option value="mountain view">Mountain View</option>
    <option value="washington DC">Washington DC</option>
  </select>
  Favorite Language:
  <select class="" name="language">
    <option value="java script">JavaScript</option>
    <option value="python">Python</option>
  </select>
  Comment (optional):
  <input type="textarea" name="comment" value="">
  <input type="submit" name="" value="submit">


</form>
