*{
  font-family: sans-serif;
  text-align: center;
}

a{
  display: inline-block;
}
.box{
  display: inline-block;
  width: 200px;
  margin: auto;
  border: 1px solid black;
  height:auto;
  font-size: 12px;
  vertical-align: top;
  padding: 10px;
}
